<!DOCTYPE html>
<html lang="es">
<head>
    
    <title>¿Que hace la comunidad DCC en su tiempo libre?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>¿Que hace la comunidad DCC en su tiempo libre?</h1>
        <nav>
            <ul>
               <li><a href="{{ url_for('registrar') }}">Registro de Miembros</a></li>
                <li><a href="{{ url_for('actividades') }}">Registro de Actividades</a></li>
                <li><a href="{{ url_for('miembros') }}">Listado</a></li>
                <li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li> 
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bienvenido/a</h2>
            <p>
                Este sistema permite conocer las distintas actividades que realizan los miembros de la comunidad del DCC en su tiempo libre. 
                Aquí podrás registrar personas, ingresar las actividades que realizan y explorar información sobre los intereses y hobbies de la comunidad.
            </p>
            <p>
                Te invitamos a navegar por las distintas secciones para descubrir, registrar y analizar las actividades que forman parte de la vida fuera del ámbito académico y laboral.
            </p>
        </section>
    </main>
</body>
</html>